<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <div class="container">
    <h1>Saját profil</h1>
    <hr>
    
    <div>
      <label for="fullname">Teljes név: </label>
      <input id="fullname" type="text" formControlName="fullName">
    </div>
    <div><label for="username">Felhasználónév: </label>
      <input id="username" type="text" formControlName="userName">
    </div>
    <div>
      <label for="birthDate">Születési idő</label>
      <input id="birthDate" type="date"  formControlName="birthDate"  >
    </div>
    <div>
      <label for="email">Email</label>
      <input id="email" type="text" formControlName="email" >
    </div>
    <div>
      <label for="opassword">Régi jelszó</label>
      <input id="opassword" type="password"  formControlName="opassword"  required>
    </div>
    <div>
      <label for="password">Jelszó</label>
      <input type="password" placeholder="Írja ide a Jelszavát" formControlName="password" id="password" required>
    </div>
    <div>
      <label for="pswrepeat">Jelszó újra</label>
      <input type="password" placeholder="Írja ide a Jelszavát újra" formControlName="pswrepeat" id="pswrepeat" required>
    </div>
    <div><label for="interest">Érdeklődés: </label>
      <input id="interest" type="text" formControlName="interest">
    </div>
    <div><label for="description">Leírás: </label>
      <input id="description" type="text" formControlName="description">
    </div>
    
  </div>

</form>
<div class="form-group">
  <p class="text-center mt-2">
    <button (click)="profileDisable()">Mégse</button>
    <button (click)="profileEnable()">Szerkesztés</button><br />


    <button type="submit" class="Szerkesztés">Mentés</button>
  </p>
</div>