<!-- Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="profileModalLabel">Minta Károly (1995.11.20.)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm profile-picture-div">
                        <img class="profile-picture-img" src="../../../../assets/img/profile_icon.png">
                    </div>
                    <div class="col-sm profile-description">
                        DescriptionDescriptionDescription
                        DescriptionDescriptionDescription
                        DescriptionDescriptionDescription
                        DescriptionDescriptionDescription
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm profile-interests">
                        InterestsInterestsInterestsInterestsInterests
                        InterestsInterestsInterestsInterestsInterests
                        InterestsInterestsInterestsInterestsInterests
                        InterestsInterestsInterestsInterestsInterests
                        InterestsInterestsInterestsInterestsInterests
                        InterestsInterestsInterestsInterestsInterests
                        InterestsInterestsInterestsInterestsInterests
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="heartChangeColor()" 
            [ngClass]="{'pink' : toggle, 'red': !toggle}">
                <i class="fas fa-heart"></i>
            </button>
        </div>
      </div>
    </div>
  </div>