        <h1>Felfedezés</h1>
        <h2>Találkozz új emberekkel</h2>
        
        <div class="container">
            <div class="kartya ">
                <div class="keret"><img src="scarlet.webp"></div>
                <div class="tarolo"><h4>Scarlett Johansson (31)</h4></div>
            </div>
            <div class="kartya">
                <div class="keret"><img src="margot.jpg"></div>                
                <div class="tarolo"><h4>Margot Robbie (26)</h4></div>
            </div>
            <div class="kartya">
                <div class="keret"><img src="portman.jpg"></div>
                <div class="tarolo"><h4>Natalie Portman (35)</h4></div>
            </div>
            <div class="kartya">
                <div class="keret"><img src="amber.jpg"></div>
                <div class="tarolo"><h4>Amber Hard (42)</h4></div>
            </div>
        </div>