<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <h1>Regisztráció</h1>
      <hr>
      <div>
        <label for="firstname"><b>Keresztnév*</b></label>
        <input type="text" placeholder="Írja ide a keresztnevét" formControlName="firstname" id="firstname" required>
      </div>
        <!--Input mezo-->
      <div *ngIf="registerForm.get('firstname')!.touched && registerForm.get('firstname')!.invalid" class="text danger" style="font-size: x-small" >
        
      <!--Error mezo-->
        <div *ngIf="registerForm.get('firstname')?.errors?.required">
          <p class="text-danger">Keresztnév megadása kötelező</p>
        </div>
      </div>

      <div>
        <label for="lastname"><b>Vezetéknév</b></label>
        <input type="text" placeholder="Írja ide a Vezetéknevét" formControlName="lastname" id="lastname" required>
      </div>
        <!--Input mezo-->
      <div *ngIf="registerForm.get('lastname')!.touched && registerForm.get('lastname')!.invalid" class="text danger" style="font-size: x-small" >
        
      <!--Error mezo-->
        <div *ngIf="registerForm.get('lastname')?.errors?.required">
          <p class="text-danger">Vezetéknév megadása kötelező</p>
        </div>
      </div>
      
      <div>
        <label for="username"><b>Felhasználónév</b></label>
        <input type="text" placeholder="Írja ide a Felhasználónevét" formControlName="username" id="username" required>
      </div>
        <!--Input mezo-->
      <div *ngIf="registerForm.get('username')!.touched && registerForm.get('username')!.invalid" class="text danger" style="font-size: x-small" >
        
      <!--Error mezo-->
        <div *ngIf="registerForm.get('username')?.errors?.required">
          <p class="text-danger">Felhasználónév megadása kötelező</p>
        </div>
        <div *ngIf="registerForm.get('username')?.errors?.minlenght ">
          <p class="text-danger">Felhasználónév megadása kötelező 5 karakterrel legalább</p>
        </div>
      </div>

      <div>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Írja ide a Felhasználónevét" formControlName="email" id="email" required>
      </div>
        <!--Input mezo-->
      <div *ngIf="registerForm.get('email')!.touched && registerForm.get('email')!.invalid" class="text danger" style="font-size: x-small" >
        
      <!--Error mezo-->
        <div *ngIf="registerForm.get('email')?.errors?.required">
          <p class="text-danger">Felhasználónév megadása kötelező</p>
        </div>
        <div *ngIf="registerForm.get('email')?.errors?.minlenght ">
          <p class="text-danger">Email megadása kötelező 5 karakterrel legalább</p>
        </div>
      </div>

      <div>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Írja ide az email címét" name="email" id="email" required>
      </div>
      <!--Input mezo-->
    <div *ngIf="registerForm.get('email')!.touched && registerForm.get('email')!.invalid" class="text danger" style="font-size: x-small" ></div>
      <!--Error mezo-->
    </div>

<div *ngIf="registerForm.get('email')?.errors?.required">
  <p class="text-danger">Email megadása kötelező</p>

      <div>
          <label for="birthdate"><b>Születési idő</b></label>
        <input type="date" name="birthdate" id="birthdate" required>
    </div>
     <!--Input mezo-->
     <div *ngIf="registerForm.get('birthdate')!.touched && registerForm.get('birthdate')!.invalid" class="date danger" style="font-size: x-small" ></div>
     <!--Error mezo-->

<div *ngIf="registerForm.get('birthdate')?.errors?.required">
  <p class="text-danger">Születési dátum megadása kötelező</p>
</div>

      
     <div>
        <label for="psw"><b>Jelszó</b></label>
        <input type="password" placeholder="Írja be a jelszót" name="psw" id="psw" required>
     </div>
     <!--Input mezo-->
     <div *ngIf="registerForm.get('birthdate')!.touched && registerForm.get('birthdate')!.invalid" class="date danger" style="font-size: x-small" ></div>
      <!--Error mezo-->
<!--
<div *ngIf="registerForm.get('username')?.errors?.required">
<p>error</p>
</div>
--> 
      <div>
      <label for="pswrepeat"><b>Jelszó megerősítése</b></label>
      <input type="password" placeholder="Jelszó újra" name="pswrepeat" id="pswrepeat" required>
      <button type="submit" class="registerbtn">Regisztráció</button>
    </div>
    <!--Input mezo-->
    <div *ngIf="registerForm.get('birthdate')!.touched && registerForm.get('birthdate')!.invalid" class="date danger" style="font-size: x-small" ></div>
    <!--Error mezo-->
<!--
<div *ngIf="registerForm.get('username')?.errors?.required">
<p>error</p>
</div>
--> 
</div>
    
  </form>

