<div class="card width container mt-5 position-absolute top-50 start-50 translate-middle">

    <form  method="post">
        <div class="container">
          <label for="username"><b>Felhasználónév</b></label>
          <input type="text" placeholder="Írja be a felhasználónevét" name="fnev" required>
      
          <label for="psw"><b>Jelszó</b></label>
          <input type="password" placeholder="Írja be a jelszavát" name="psw" required>
      
          <button type="submit">Belépés</button>
        </div>
      </form>

</div>

